
{% extends 'layout.html'%}

{% block title_content  %}
    <title>EMS</title>
{% endblock %}

{% block body_content  %}
<br>
    <!-- Employees Data -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="list-group shadow-sm small mb-3">
                    <div class="list-group-item active">Employee Data</div>
                    <a
                        href="#"
                        class="list-group-item list-group-item-action"
                        data-bs-toggle="modal"
                        data-bs-target="#add_employee">
                        Add Employee
                    </a>
                    <a href="employee-list.html" class="list-group-item list-group-item-action">View Employees</a>
                </div>

            </div>
            <div class="col-md-10">
                <div class="card shadow-sm border-0 mb-3">
                    <div class="card-header text-bg-dark text-center">Employee List</div>
                    <table class="table table-sm small table-bordered align-middle mb-0">
                        <tr class="table-secondary">
                            <th>Id</th>
                            <th>Employee Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Salary</th>
                            <th>Address</th>
                            <th>DOJ</th>
                            <th>Designation</th>
                            <th>Detail</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>

                        {% for employee in employees %}
                        <tr>
                            <td>{{ employee.id }}</td>
                            <td>{{ employee.empid }}</td>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.age }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>{{ employee.address }}</td>
                            <td>{{ employee.doj }}</td>
                            <td>{{ employee.designation }}</td>
                            <td>
                                <div class="d-grid">
                                    <a href="#employee_detail-{{forloop.counter}}" class="btn btn-sm btn-primary" data-bs-toggle="modal" >Details</a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#employee_edit-{{forloop.counter}}" class="btn btn-sm btn-warning" data-bs-toggle="modal" >Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#employee_delete-{{forloop.counter}}" class="btn btn-sm btn-danger" data-bs-toggle="modal" >Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- Employees Data -->


    <!-- Add Employee Model -->
    <div
        class="modal fade"
        id="add_employee"
        data-bs-backdrop="static"
        tabindex="-1"
        aria-hidden="true"
        style="backdrop-filter: blur(5px);">

        <!--Model dialog -->
        <div class="modal-dialog modal-dialog-centered">
            <!-- Model content -->
            <div class="modal-content">
                <div class="modal-header text-bg-dark">
                    <h5 class="modal-title">Add Employee Details</h5>
                    <!-- close button -->
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method = 'POST'>
                        {% csrf_token %}
                        <div class="container">
                            <div class="row gx-3">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="date" name = "emp_doj" class="form-control form-control-sm" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name = "emp_empid" class="form-control form-control-sm" placeholder="Employee Id" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name = "emp_name" class="form-control form-control-sm" placeholder="Name" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name = "emp_age" class="form-control form-control-sm" placeholder="Age" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name = "emp_salary" class="form-control form-control-sm" placeholder="Salary" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="text" name = "emp_address" class="form-control form-control-sm" placeholder="Address" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <select name = "emp_designation" class="form-select form-select-sm" aria-label="Job Assigned">
                                            <option selected>Select job for Employee</option>
                                            <option value="Data Scientist">Data Scientist</option>
                                            <option value="Web Developer">Web Developer</option>
                                            <option value="QA Engineer">QA Engineer</option>
                                            <option value="Web Designer">Web Designer</option>
                                            <option value="Cloud Engineer">Cloud Engineer</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-sm btn-success">Add Employee</button>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Employee Model -->

    <!-- Employee Details Model -->
{% for employee in employees %}
    <div
    class="modal fade"
    id="employee_detail-{{forloop.counter}}"
    data-bs-backdrop="static"
    tabindex="-1"
    aria-hidden="true"
    style="backdrop-filter: blur(5px);">

        <!--Model dialog -->
        <div class="modal-dialog modal-dialog-centered">
            <!-- Model content -->
            <div class="modal-content">
                <div class="modal-header text-bg-dark">
                    <h5 class="modal-title">Employee Details</h5>
                    <!-- close button -->
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0" >
                    <table class="table table-bordered small mb-0">
                        <tr>
                            <th class="w-50">Id</th>
                            <td>{{ employee.id }}</td>
                        </tr>

                        <tr>
                            <th>Employee Id</th>
                            <td>{{ employee.empid }}</td>
                        </tr>

                        <tr>
                            <th>Name</th>
                            <td>{{ employee.name }}</td>
                        </tr>

                        <tr>
                            <th>Age</th>
                            <td>{{ employee.age }}</td>
                        </tr>

                        <tr>
                            <th>Salary</th>
                            <td>{{ employee.salary }}</td>
                        </tr>

                        <tr>
                            <th>Address</th>
                            <td>{{ employee.address }}</td>
                        </tr>

                        <tr>
                            <th>Joining Date</th>
                            <td>{{ employee.doj }}</td>
                        </tr>

                        <tr>
                            <th>Designation</th>
                            <td>{{ employee.designation }}</td>
                        </tr>
                    </table>

                </div>

                <div class="modal-footer">
                    <a href="#employee_edit-{{forloop.counter}}" class="btn btn-sm btn-warning" data-bs-toggle="modal" >Edit Details</a>
                    <a href="#" class="btn btn-sm btn-primary" data-bs-dismiss="modal" aria-label="Close">Close</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    <!-- Employee Details Model -->


    <!-- Edit Employee Model -->
{% for employee in employees %}
    <div
        class="modal fade"
        id="employee_edit-{{forloop.counter}}"
        data-bs-backdrop="static"
        tabindex="-1"
        aria-hidden="true"
        style="backdrop-filter: blur(5px);">

        <!--Model dialog -->
        <div class="modal-dialog modal-dialog-centered">
            <!-- Model content -->
            <div class="modal-content">
                <div class="modal-header text-bg-dark">
                    <h5 class="modal-title">Edit Employee Details</h5>
                    <!-- close button -->
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'update_employee' pk=employee.id %}" method = "POST">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row gx-3">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="date" name="emp_doj" value="{{ employee.doj }}" class="form-control form-control-sm"  required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name="emp_empid" value="{{ employee.empid }}" class="form-control form-control-sm" placeholder="Employee Id" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name="emp_name" value="{{ employee.name }}" class="form-control form-control-sm" placeholder="Name" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name="emp_age" value="{{ employee.age }}" class="form-control form-control-sm" placeholder="Age" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input type="text" name="emp_salary" value="{{ employee.salary }}" class="form-control form-control-sm" placeholder="Salary" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="text" name="emp_address" value="{{ employee.address }}" class="form-control form-control-sm" placeholder="Address" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <select name="emp_designation" value="{{ employee.designation }}" class="form-select form-select-sm" aria-label="Job Assigned">
                                            <option>Select job for Employee</option>
                                            <option value="Data Scientist" selected>Data Scientist</option>
                                            <option value="Web Developer">Web Developer</option>
                                            <option value="QA Engineer">QA Engineer</option>
                                            <option value="Web Designer">Web Designer</option>
                                            <option value="Cloud Engineer">Cloud Engineer</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-sm btn-warning">Update Employee</button>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    <!-- Edit Employee Model -->

    <!-- Employee Delete Model -->
{% for employee in employees %}
    <div
    class="modal fade"
    id="employee_delete-{{forloop.counter}}"
    data-bs-backdrop="static"
    tabindex="-1"
    aria-hidden="true"
    style="backdrop-filter: blur(5px);">

        <!--Model dialog -->
        <div class="modal-dialog modal-dialog-centered">
            <!-- Model content -->
            <div class="modal-content">
                <form action="{% url 'delete_employee' pk=employee.id %}" method="POST">
                    {% csrf_token %}
                <div class="modal-body text-center d-flex justify-content-between align-items-center">
                    <h4 class="fw-light m-0">
                        Do you want to delete <strong><q>{{employee.name}}</q></strong>?
                    </h4>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-sm btn-danger" >Yes!</button>
                    <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal" aria-label="Close">Nope, Go back</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}