{% extends 'layout.html'%}

{% load static %}

{% block title_content  %}
<title>Ascent Home</title>
{% endblock %}

{% block body_content  %}
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/django.png' %}" class="d-block w-100" alt="django image">
      <div class="carousel-caption d-none d-md-block">
        <h5>Django</h5>
        <p>Web framework for Python developers</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/ai.jpg' %}" class="d-block w-100" alt="AI image">
      <div class="carousel-caption d-none d-md-block">
        <h5>AI with DL</h5>
        <p>AI is the Future</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/data-science.jpg' %}" class="d-block w-100" alt="Data Science">
      <div class="carousel-caption d-none d-md-block">
        <h5>Data Science Image</h5>
        <p>Data Science is the Future</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/big-data.png' %}" class="d-block w-100" alt="Big Data">
      <div class="carousel-caption d-none d-md-block">
        <h5>Big Data Image</h5>
        <p>Big Data is Flourishing</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}